/* style used w index-01.html, header i like */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: url("https://cdn.glitch.global/0a05193e-5450-4c22-b4af-ad0f7a53cd59/background-animTrans.gif?v=1714337550600")
    no-repeat center center/cover;
}

/* Page structure */

.container {
  display: grid;
grid-auto-columns: minmax(15rem auto);
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr))
 grid-gap: 1rem;
}

/* main page */

header {
  /* color: #8d4cd6; hex purple 
  color: rgb(140, 76, 214, .8); purple 
    color: #fae73e; yellow
    margin: 0 auto;
  width: 100%;
  grid-column: span 2; */

  color: #8d4cd6; /*hex purple */
  text-align: center;
  padding: 1rem;
  width: 100%;
  height: 2rem;
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;
  filter: blur(1px);
  rotate: -1.2deg;
  z-index: 2;
  background-color: rgb(0, 0, 0, 0.8);
}
/*
.punkheader {
  z-index: 1;
  color: #fae73e;
  text-align: center;
  padding: .5rem;
  margin: -2rem auto 2rem auto;
  width: 100%;
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-size: 3rem;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;
}
.punkheader a { /*punk header, eh?! 
  text-decoration: none;
  border: 0;
}
*/

.content-main {
  background: url("https://cdn.glitch.global/0a05193e-5450-4c22-b4af-ad0f7a53cd59/cbgb-bg.jpg?v=1718737697769")
    no-repeat center center/cover;
  font-family: "Archivo Narrow", sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  width: 100%;
  height: 1080px;
  margin: -3rem 0 0 0;
}

.signUp {
    background: url("https://cdn.glitch.global/0a05193e-5450-4c22-b4af-ad0f7a53cd59/tape-w-cats300px.png?v=1718749235517")
    no-repeat center center/cover;
  width: 300px;
  height: 432px;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  /* rotate: -1.2deg; */
  font-family: "Archivo Narrow", sans-serif;
  font-style: normal;
  font-size: 1rem;
}
.join {
  /* purple background-color: rgba(141, 76, 214, .25);
  /*padding: 1rem;
 /* background-color: rgba(30, 10, 10, 0.75);*/

}
h2 {
  font-size: 1rem;
}
.about {
  padding: 1rem;
  /*yellow  background-color: rgba(250, 231, 62, .25);*/
  background-color: rgba(30, 10, 10, 0.75);
  color: rgba(255, 255, 255, 0.8);
  rotate: 2.5deg;
  opacity: 1;
  margin: 1.5rem;
}
.about-shadow {
  background-color: rgb(255, 255, 255, 0.4);
  background: linear-gradient(#dfd3e3, #4e4a4f);
  opacity: 0.8;
  rotate: 0.4deg;
  filter: blur(1px);
  margin: -2rem;
  padding: 0.5rem;
}

.members {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: rgb(255, 255, 255, 0.4);
}

a:link,
a:visited {
  text-decoration: none;
  color: #fae73e;
}
a:hover,
a:active {
  text-decoration: none;
  color: #cccccc;
}

/* Form */
.form-wrapper {
  padding: 20px;
  /*border-radius: 5px; */
  width: 300px;
}
.form-content {
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  margin-bottom: 15px;
}

button {
  background-color: #8d4cd6;
  color: ##8d4cd6;
  margin: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

/*using this on members page */
.wrapper {
  min-height: 87vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.content-members {
  /* display: grid;
  grid-template-columns: 100%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  */
  width: 100%;
  text-align: center;
  margin: 0 auto;
  /*background-color: rgb(255, 255, 255, 0.4);*/
  font-family: "Archivo Narrow", sans-serif;
  font-style: normal;
  font-size: 1.5rem;
}
.content-members a {
  border: 0;
  text-decoration: none;
  cursor: ;
}
.membersList {
  width: 408px;
  text-align: left;
  padding: 0 2rem 2rem 2rem;
  margin: -2rem auto 0 auto;
  background: #000000;
  color: #cccccc;
  font-family: "Archivo Narrow", sans-serif;
  font-style: normal;
  font-size: 1rem;
}
.membersFrom {
  rotate: 0.3deg;
  color: #bfb6cc;
  display: block;
  margin: -1rem 0;
}
/* Divs + Images */

h2 {
  font-size: 1.5rem;
}

img {
  -webkit-animation: mymove 10s infinite;
}

@-webkit-keyframes mymove {
  50% {
    -webkit-filter: hue-rotate(90deg) hue-rotate(180deg);
    filter: hue-rotate(90deg) hue-rotate(180deg);
  }
}

@keyframes mymove {
  50% {
    -webkit-filter: hue-rotate(90deg) hue-rotate(180deg);
    filter: hue-rotate(90deg) hue-rotate(180deg);
  }
}
.nickname {
  color: #e7db6d;
}

/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}
